.button {
    background-color: white;
    color: $blue;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: $font-size-medium;
    font-weight: 300;
    line-height: 1;
    border: none;
    font: inherit;
    cursor: pointer;
    &:focus {
        outline:0;
    };
    &:hover {
        color: darken($blue, 20%);
    };
}

.button-register {
    background-color: $blue;
    color: white;
    border-radius: 5px;
    margin-top: $s-size;
    padding: 10px 20px;
    font-size: $s-size;
    text-decoration: none;
    position: relative;
    display: inline-block;
}