.profile__container {
    display: flex;
    margin-top: $s-size;
}

.profile__card {
    border: 2px solid $blue;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.15);
    width: 12%;
    padding: $s-size;
    flex: 1;
}

.profile__list {
    flex: 7;
    margin: 0 $s-size;
}