// Colors
$blue: #4281A4;
$red: #9E5458;
$light-blue: #48A9A6;
$off-white: #E4DFDA;
$tan: #D4B483;

// Spacing
$mini-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font sizes
$font-size-large: 2rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.4rem;